<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
    <channel>
        <title><![CDATA[The Blog of Christof Jans]]></title>
        <description><![CDATA[The Blog of Christof Jans]]></description>
        <link>http://blog.christofjans.com</link>
        <image>
            <url>http://blog.christofjans.com/headshot.png</url>
            <title>The Blog of Christof Jans</title>
            <link>http://blog.christofjans.com</link>
        </image>
        <generator>blogCore RSS Module</generator>
        <lastBuildDate>@Model.BuildDate.ToString("ddd, dd MMM yyyy hh:mm:ss") GMT</lastBuildDate>
        <atom:link href="http://blog.christofjans.com/rss.xml" rel="self" type="application/rss+xml" />
@foreach (var post in Model.AllPosts) {
        <item>
            <title><![CDATA[@post.Header.Title]]></title>
            <description><![CDATA[@post.Raw(post.DescriptionHtmlString)]]></description>
            @post.Raw(post.RssUrl)
            <guid isPermaLink="true">@post.Url</guid>
            <dc:creator><![CDATA[@Model.Author]]></dc:creator>
            <pubDate>@post.RssDate</pubDate>
        </item>
}
    </channel>
</rss>