body {
    background-color: rgb(240,240,240);    
    color: #555;
}

h1, h2, h3, h4, h5 {
    font-family: 'Calibri Light', Helvetica, Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
}

#content {
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    /*flex: 0 4 700px;*/
}

#content #pubdate {
    font-size: 0.8em;
    font-style: italic;
}

#leftnav {
    width: 200px;
    margin: 100px 10px 10px 10px;
}


code {
    background-color: lightgray;
    font-size: 0.8em;
}

pre code {
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(212,74,52);
}

a:hover {
    text-decoration: none;
    filter: brightness(50%);
}

/*@media screen and (max-width: 910px) {
    #leftnav
    {
        display: none;
        visibility: hidden;
    }
}*/