body {
    background-color: rgb(240,240,240);    
    color: #555;
}

h1, h2, h3, h4, h5 {
    font-family: 'Calibri Light', Helvetica, Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
}

#content {
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

#content #pubdate {
    font-size: 0.8em;
    font-style: italic;
}

#leftnav {
    width: 200px;
    margin: 100px 10px 10px 10px;
}


code {
    background-color: #e7e7e7;
    font-size: 0.8em;
}

pre code {
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(212,74,52);
}

a:hover {
    text-decoration: none;
    filter: brightness(50%);
}

#bottomnav {
    display: none;
}

table {
    border-collapse: collapse;
    /*width: 100%;*/
}

tr {
    border-bottom: 1px solid #ccc;
}

blockquote {
    border-left: 1px solid rgb(212,74,52);
    padding: 5px;
    background-color: #e7e7e7;

    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width:900px) {
    #leftnav {
        display: none;
    }
    #content {
        width: 90%;
    }
    #bottomnav {
        display: block;
    }
}

@media print {
    #topnav {
        display: none;
    }
    #leftnav {
        display: none;
    }
}